# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and run Markdown cells in Jupyter Notebooks  
- Perform basic arithmetic operations in Python  
- Convert time units using Python expressions

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Sckirt-learn
2. Pandas
3. Matplobit
4. Tensor Flow
5. Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Spark      |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python
```python
# Suma
3 + 5
# Resta
10 - 4
# Multiplicación
6 * 7
# División
20 / 5
# Potencia
2 ** 3

In [9]:
# esta es una expresión aritmética simple para luego agregar números enteros
print((3*4) + 5)

17

In [10]:
# Esto convertirá 200 minutos en horas buceando en 60
minutos = 200
horas = minutos / 60
print(horas)

3.3333333333333335

## Author  

Paola Michelle Figueroa Benítez

## Author  

Paola Michelle Figueroa Benítez